# Don't ignore these important files - these need to come first
!frontend/package.json
!frontend/package-lock.json
!sage-striker-294302-b248a695e8e5.json

# For local development only
# Not needed for Cloud Run deployment
.env
*.env
*env*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Streamlit
.streamlit/

# OS specific
.DS_Store
Thumbs.db

# Node.js
node_modules/
frontend/node_modules/
